<%= render "shared/header", text: "All Time Portfolio" do %>
    <%= link_to update_prices_path, method: :put, class: "btn btn-secondary ml-auto" do %>
        <span class="mr-2 inline-block"><%= save_as_icon %></span>
        <span>Update Prices</span>
    <% end %>
<% end %>

<div class="container-fluid main-body">
    <%
      portfolio_headers = <<~HEREDOC
        <tr class="portfolio-header bg-blue-800 text-white">
            <th scope="col" class="text-left">Company</th>
            <th scope="col" class="text-left">Shares</th>
            <th scope="col" class="text-right">Total Cost</th>
            <th scope="col" class="text-right">CPS</th>
            <th scope="col" class="text-right">% Cost</th>
            <th scope="col" class="text-right">Last Price</th>
            <th scope="col" class="text-right">Last Value</th>
            <th scope="col" class="text-right">% Value</th>
            <th scope="col" class="text-left" colspan="2">P/L</th>
            <th scope="col" class="text-left" colspan="2">Divs</th>
            <th scope="col" class="text-left" colspan="2">Annual DPS</th>
            <th scope="col" class="text-left" colspan="2">P/L + Divs</th>
        </tr>
      HEREDOC
    %>
    <div class="p-4" id="portfolioTableID">
        <table class="company-table min-w-full border border-collapse">
            <thead>
                <%= raw portfolio_headers %>
            </thead>
            <tbody class="list divide-x divide-y divide-gray-400">
                <% company_set.companies.each do |company| %>
                    <% portfolio = company_set.get_portfolio(company) %>
                    <% next if portfolio.total_shares.zero? && !company.inactive? %>
                    <tr class="<%= company.inactive? ? "bg-gray-700 bg-gray-700 text-white" : cycle('bg-white', 'bg-blue-50') %>">
                        <td scope="row" class="tables-company">
                          <%= link_to company, company %><%= "*" if company.inactive? %>
                        </td>
                        <td class="tables-shares">
                          <%= number_with_delimiter portfolio.total_shares %>
                        </td>
                        <td class="tables-total-cost text-right">
                          <%= format_currency portfolio.total_costs %>
                        </td>
                        <td class="tables-cps text-right">
                          <%= format_currency portfolio.cps %>
                        </td>
                        <td class="tables-percent-cost text-right">
                          <%= format_percentage portfolio.total_costs, company_set.total_costs %>
                        </td>
                        <td class="tables-last-price text-right">
                            <%= format_currency company.last_price %><br>
                            <small class="smaller text-gray">
                              <%= company.last_price_timestamp.strftime("%h %d %Y %H:%M") %>
                            </small>
                        </td>
                        <td class="tables-last-value text-right">
                          <%= format_currency portfolio.last_value %>
                        </td>
                        <td class="tables-percent-value text-right">
                          <%= format_percentage portfolio.last_value, company_set.total_value %>
                        </td>
                        <% if company.inactive? %>
                            <td class="text-right text-secondary"><%= format_currency portfolio.profit_loss %></td>
                        <% else %>
                            <td class="text-right"><%= green_red portfolio.profit_loss %></td>
                        <% end %>

                        <% if company.inactive? %>
                            <td class="text-right text-secondary"><%= format_percentage portfolio.profit_loss, portfolio.actual_total_costs %></td>
                        <% else %>
                            <td class="text-right"><%= green_red_percent portfolio.profit_loss, portfolio.actual_total_costs %></td>
                        <% end %>

                        <td class="text-right">
                          <%= format_currency portfolio.cash_dividends_total %>
                        </td>
                        <td class="text-right">
                          <%= format_percentage portfolio.cash_dividends_total, portfolio.total_costs %>
                        </td>
                        <td class="text-right">
                            <% if company.inactive? %>
                                -
                            <% else %>
                                <% begin %>
                                    <%= format_currency portfolio.cash_dividends_annual_dps %>
                                    <% rescue ZeroDivisionError %>
                                    <%= link_to "Recompute", company %>
                                <% end %>
                            <% end %>
                        </td>
                        <td class="text-right">
                            <% if company.inactive? %>
                                -
                            <% else %>
                                <% begin %>
                                    <%= format_percentage portfolio.cash_dividends_annual_dps, portfolio.cps %>
                                <% rescue ZeroDivisionError %>
                                    <%= link_to "Recompute", company %>
                                <% end %>
                            <% end %>
                        </td>

                        <% if company.inactive? %>
                            <td class="text-right text-secondary"><%= format_currency portfolio.final_profit_loss %></td>
                        <% else %>
                            <td class="text-right"><%= green_red portfolio.final_profit_loss %></td>
                        <% end %>

                        <% if company.inactive? %>
                            <td class="text-right text-secondary"><%= format_percentage portfolio.final_profit_loss, portfolio.total_costs %></td>
                        <% else %>
                            <td class="text-right"><%= green_red_percent portfolio.final_profit_loss, portfolio.total_costs %></td>
                        <% end %>
                    </tr>
                <% end %>
            </tbody>
            <tfoot>
                <tr>
                    <th>Totals</th>
                    <td>-</td>
                    <td class="text-right"><%= format_currency company_set.total_costs %></td>
                    <td class="text-right">-</td>
                    <td class="text-right">-</td>
                    <td class="text-right">-</td>
                    <td class="text-right"><%= format_currency company_set.total_value %></td>
                    <td class="text-right">-</td>
                    <td class="text-right"><%= green_red company_set.total_profit_loss %></td>
                    <td class="text-right"><%= green_red_percent company_set.total_profit_loss, company_set.total_value %></td>
                    <td class="text-right"><%= format_currency company_set.total_dividends %></td>
                    <td class="text-right"><%= format_percentage company_set.total_dividends, company_set.total_costs %></td>
                    <td class="text-right">-</td>
                    <td class="text-right">-</td>
                    <td class="text-right"><%= green_red company_set.final_profit_loss %></td>
                    <td class="text-right"><%= green_red_percent company_set.final_profit_loss, company_set.total_value %></td>
                </tr>
                <tr style="background: none;">
                    <td colspan=8>* inactive</td>
                    <td colspan=8>P/L Total also includes P/L from 0 share stocks</td>
                </tr>
                <%= raw portfolio_headers %>
            </tfoot>
        </table>
    </div>

    <br>

    <div class="flex mb-8">
        <div class="card border-0 w-1/4">
            <div class="card-body">
                <h1 class="card-header">Top 5 Losers (Actual)</h1>
                <ul class="card-text list-group list-group-flush divide-y divide-slate-200">
                    <% company_set.companies.sort_by { |company| company_set.get_portfolio(company).profit_loss }.first(5).each do |company| %>
                        <% portfolio = company_set.get_portfolio(company) %>
                        <li class="list-group-item odd:bg-white even:bg-slate-50 p-2">
                            <div class="flex">
                                <div class="w-1/3"><%= company %></div>
                                <div class="w-1/3 text-right font-mono"><%= green_red portfolio.profit_loss %></div>
                                <div class="w-1/3 text-right font-mono"><%= green_red_percent_badge portfolio.profit_loss, portfolio.actual_total_costs %></div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="card border-0 w-1/4">
            <div class="card-body">
                <h1 class="card-header">Top 5 Losers (%)</h1>
                <ul class="card-text list-group list-group-flush divide-y divide-slate-200">
                    <% company_set.companies.filter { |company| !company_set.get_portfolio(company).profit_loss_percent.nan? }.sort_by { |company| company_set.get_portfolio(company).profit_loss_percent }.filter { |company| !company_set.get_portfolio(company).profit_loss_percent.in? [1.0, -1.0] }.first(5).each do |company| %>
                        <% portfolio = company_set.get_portfolio(company) %>
                        <li class="list-group-item odd:bg-white even:bg-slate-50 p-2">
                            <div class="flex">
                                <div class="w-1/3"> <%= company %> </div>
                                <div class="w-1/3 text-right font-mono"><%= green_red_percent portfolio.profit_loss, portfolio.actual_total_costs %> </div>
                                <div class="w-1/3 text-right font-mono"><%= green_red portfolio.profit_loss %></div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="card border-0 w-1/4">
            <div class="card-body">
                <h1 class="card-header">Top 5 Gainers (Actual)</h1>
                <ul class="card-text list-group list-group-flush divide-y divide-slate-200">
                    <% company_set.companies.sort_by { |company| company_set.get_portfolio(company).profit_loss }.reverse.first(5).each do |company| %>
                        <% portfolio = company_set.get_portfolio(company) %>
                        <li class="list-group-item odd:bg-white even:bg-slate-50 p-2">
                            <div class="flex">
                                <div class="w-1/3"><%= company %></div>
                                <div class="w-1/3 text-right font-mono"><%= green_red portfolio.profit_loss %></div>
                                <div class="w-1/3 text-right font-mono"><%= green_red_percent_badge portfolio.profit_loss, portfolio.actual_total_costs %></div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>

        <div class="card border-0 w-1/4">
            <div class="card-body">
                <h1 class="card-header">Top 5 Gainers (%)</h1>
                <ul class="card-text list-group list-group-flush divide-y divide-slate-200">
                    <% company_set.companies.filter { |company| !company_set.get_portfolio(company).profit_loss_percent.nan? }.sort_by { |company| company_set.get_portfolio(company).profit_loss_percent }.reverse.filter { |company| !company_set.get_portfolio(company).profit_loss_percent.in? [1.0, -1.0] }.first(5).each do |company| %>
                        <% portfolio = company_set.get_portfolio(company) %>
                        <li class="list-group-item odd:bg-white even:bg-slate-50 p-2">
                            <div class="flex">
                                <div class="w-1/3"> <%= company %> </div>
                                <div class="w-1/3 text-right font-mono"><%= green_red_percent portfolio.profit_loss, portfolio.actual_total_costs %> </div>
                                <div class="w-1/3 text-right font-mono"><%= green_red portfolio.profit_loss %></div>
                            </div>
                        </li>
                    <% end %>
                </ul>
            </div>
        </div>
    </div>

</div>
