<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <% (2017..DateTime.now.year).reverse_each do |year| %>
                <div class="dividends-ladder-container">
                    <table>
                        <thead class="thead-dark">
                            <tr>
                                <th colspan="4" class="year-label text-center"><%= year %></th>
                            </tr>
                            <tr class="text-center">
                                <th>Month</th>
                                <th>Count</th>
                                <th class="text-right">Amount</th>
                                <th class="text-left w-50">Tickers</th>
                            </tr>
                        </thead>
                        <% annual_sum = 0 %>
                        <tbody>
                            <% (1..12).each do |month| %>
                                <tr>
                                    <td><%= Date::MONTHNAMES[month] %></td>
                                    <td><%= years.keys.include?(year) && years[year][month]&.length %></td>
                                    <td class="text-right"><%= format_currency years.keys.include?(year) && amounts[year][month] %></td>
                                    <td class="text-left"><%= years.keys.include?(year) && years[year][month]&.to_a&.sort&.collect { |ticker| link_to(ticker, company_path(ticker), target: :_blank, class: "btn btn-secondary mr-2 btn-sm") }&.join&.html_safe %></td>
                                </tr>
                                <% annual_sum += (years.keys.include?(year) && amounts[year][month] || 0) %>
                            <% end %>
                            <tr>
                                <td colspan="2"><%= year %> Total</td>
                                <td class="text-right"><%= format_currency annual_sum %></td>
                                <td>&nbsp;</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            <% end %>
        </div>
    </div>
</div>
