<%= form_with(model: cash_dividend, local: true, class: "w-25") do |form| %>
    <% if cash_dividend.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(cash_dividend.errors.count, "error") %> prohibited this cash_dividend from being saved:</h2>
            <ul>
                <% cash_dividend.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field form-group">
        <%= form.label :company_id %>
        <%= form.select :company_id, Company.pluck(:ticker, :id), {}, { class: "form-control" } %>
    </div>
    <div class="field form-group">
        <%= form.label :amount %>
        <%= form.text_field :amount, class: "form-control" %>
    </div>
    <div class="field form-group">
        <%= form.label :pay_date %>
        <div class="d-flex"><%= form.date_select :pay_date, {}, { class: "form-control mr-2" } %></div>
    </div>
    <div class="field form-group">
        <%= form.label :ex_date %>
        <div class="d-flex"><%= form.date_select :ex_date, {}, { class: "form-control mr-2" } %></div>
    </div>
    <div class="actions">
        <%= form.submit class: "btn btn-primary" %>
    </div>
<% end %>
