<div class="flex flex-col">
    <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
        <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
            <div class="dividends-table-container">
                <table>
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Company</th>
                            <th class="text-right">Amount</th>
                            <th>Pay date</th>
                            <th>Ex date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% stock_dividends.each do |stock_dividend| %>
                            <tr>
                                <th class="text-center"><%= link_to stock_dividend.company, stock_dividend.company %></th>
                                <td class="text-right"><%= stock_dividend.amount %></td>
                                <td><%= format_date stock_dividend.pay_date %></td>
                                <td><%= format_date stock_dividend.ex_date %></td>
                                <td class="text-right actions">
                                    <%= link_to eye_icon, stock_dividend %>
                                    <%= link_to edit_icon, edit_stock_dividend_path(stock_dividend) %>
                                    <%= link_to trash_icon, stock_dividend, method: :delete, data: { confirm: 'Are you sure?' } %>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>