<p id="notice"><%= notice %></p>
<h1>Cash Dividends</h1>
<%= link_to 'New Cash Dividend', new_cash_dividend_path %>
<br>
<% years = {} %>
<table>
    <thead>
        <tr>
            <th>Company</th>
            <th class="r-align">Amount</th>
            <th>Pay date</th>
            <th>Ex date</th>
            <th colspan="3"></th>
        </tr>
    </thead>
    <tbody>
        <% @cash_dividends.each do |cash_dividend| %>
            <% years[cash_dividend.pay_date.year] ||= {} %>
            <% years[cash_dividend.pay_date.year][cash_dividend.pay_date.month] ||= Set.new %>
            <% years[cash_dividend.pay_date.year][cash_dividend.pay_date.month] << cash_dividend.company.ticker %>
            <tr>
                <td><%= link_to cash_dividend.company, cash_dividend.company %></td>
                <td class="r-align"><%= format_currency cash_dividend.amount %></td>
                <td><%= format_date cash_dividend.pay_date %></td>
                <td><%= format_date cash_dividend.ex_date %></td>
                <td><%= link_to 'Show', cash_dividend %></td>
                <td><%= link_to 'Edit', edit_cash_dividend_path(cash_dividend) %></td>
                <td><%= link_to 'Destroy', cash_dividend, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
        <% end %>
    </tbody>
</table>
<h1>Cash Dividends By Month Over Years</h1>
<table>
    <thead>
        <tr>
            <th>Year</th>
            <th>Month</th>
            <th>Count</th>
            <th style="text-align: left">Tickers</th>
        </tr>
    </thead>
    <tbody>
        <% (2017..DateTime.now.year).each do |year| %>
            <% (1..12).each do |month| %>
                <tr>
                    <td><%= year %></td>
                    <td><%= month %></td>
                    <td><%= years[year][month]&.length %></td>
                    <td><%= years[year][month]&.to_a&.sort&.join(', ') %></td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>
