<div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <ul class="nav nav-tabs mb-4" id="dividends_tab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="cash_dividend_tab" data-toggle="tab" href="#cash_dividend" role="tab" aria-controls="cash_dividend" aria-selected="true">Cash Dividends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="by_month_tab" data-toggle="tab" href="#by_month" role="tab" aria-controls="by_month" aria-selected="false">Cash Dividends By Month Over Years</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stocks_dividend_tab" data-toggle="tab" href="#stocks_dividend" role="tab" aria-controls="stocks_dividend" aria-selected="false">Stock Dividends</a>
        </li>
    </ul>

    <ul class="d-none nav nav-pills flex-column mb-4" id="mobile_dividends_tab" role="tablist" aria-orientation="vertical">
        <li class="nav-item">
            <a class="nav-link active" id="cash_dividend_tab" data-toggle="tab" href="#cash_dividend" role="tab" aria-controls="cash_dividend" aria-selected="true">Cash Dividends</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="by_month_tab" data-toggle="tab" href="#by_month" role="tab" aria-controls="by_month" aria-selected="false">Cash Dividends By Month Over Years</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="stocks_dividend_tab" data-toggle="tab" href="#stocks_dividend" role="tab" aria-controls="stocks_dividend" aria-selected="false">Stock Dividends</a>
        </li>
        <hr>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="cash_dividend" role="tabpanel" aria-labelledby="cash_dividend_tab">
            <% years = {} %>
            <% amounts = {} %>
            <div class="table-responsive">
                <table class="table table-sm table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Company</th>
                            <th>Amount</th>
                            <th>Pay date</th>
                            <th>Ex date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @cash_dividends.each do |cash_dividend| %>
                            <% years[cash_dividend.pay_date.year] ||= {} %>
                            <% years[cash_dividend.pay_date.year][cash_dividend.pay_date.month] ||= Set.new %>
                            <% years[cash_dividend.pay_date.year][cash_dividend.pay_date.month] << cash_dividend.company.ticker %>
                            <% amounts[cash_dividend.pay_date.year] ||= {} %>
                            <% amounts[cash_dividend.pay_date.year][cash_dividend.pay_date.month] ||= 0 %>
                            <% amounts[cash_dividend.pay_date.year][cash_dividend.pay_date.month] += cash_dividend.amount %>
                            <tr>
                                <th><%= link_to cash_dividend.company, cash_dividend.company %></th>
                                <td class="text-right"><%= format_currency cash_dividend.amount %></td>
                                <td><%= format_date cash_dividend.pay_date %></td>
                                <td><%= format_date cash_dividend.ex_date %></td>
                                <td class="text-right" style="width: 7%;">
                                    <span class="align-middle" style="font-size: 15px;">
                                        <%= link_to "<span class='fe fe-eye'></span>".html_safe, cash_dividend %>
                                        <%= link_to "<span class='fe fe-edit'></span>".html_safe, edit_cash_dividend_path(cash_dividend) %>
                                        <%= link_to "<span class='fe fe-trash'></span>".html_safe, cash_dividend, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    </span>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>

        </div>


        <div class="tab-pane" id="by_month" role="tabpanel" aria-labelledby="by_month_tab">
            <!-- <h1 class="display-4 d-block p-2">Cash Dividends By Month Over Years</h1> -->
            <div class="table-responsive">
                <table class="table table-sm table-striped table-bordered table-dark">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Year</th>
                            <th>Month</th>
                            <th>Count</th>
                            <th class="text-right">Amount</th>
                            <th class="text-left">Tickers</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% (2017..DateTime.now.year).each do |year| %>
                            <% (1..12).each do |month| %>
                                <tr>
                                    <td><%= year %></td>
                                    <td><%= Date::MONTHNAMES[month] %></td>
                                    <td><%= years[year][month]&.length %></td>
                                    <td class="text-right"><%= format_currency amounts[year][month] %></td>
                                    <td><%= years[year][month]&.to_a&.sort&.collect { |ticker| link_to(ticker, company_path(ticker), target: :_blank, class: "btn btn-secondary mr-2 btn-sm") }&.join&.html_safe %></td>
                                </tr>
                            <% end %>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="tab-pane" id="stocks_dividend" role="tabpanel" aria-labelledby="stocks_dividend_tab">
            <div class="table-responsive">
                <table class="table table-sm table-striped table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr class="text-center">
                            <th>Company</th>
                            <th class="text-right">Amount</th>
                            <th>Pay date</th>
                            <th>Ex date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @stock_dividends.each do |stock_dividend| %>
                            <tr class="text-center">
                                <th class="text-left"><%= link_to stock_dividend.company, stock_dividend.company %></th>
                                <td class="text-right"><%= stock_dividend.amount %></td>
                                <td><%= format_date stock_dividend.pay_date %></td>
                                <td><%= format_date stock_dividend.ex_date %></td>
                                <td class="text-right" style="width: 7%;">
                                    <span class="align-middle" style="font-size: 15px;">
                                        <%= link_to "<span class='fe fe-eye'></span>".html_safe, stock_dividend %>
                                        <%= link_to "<span class='fe fe-edit'></span>".html_safe, edit_stock_dividend_path(stock_dividend) %>
                                        <%= link_to "<span class='fe fe-trash'></span>".html_safe, stock_dividend, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    </span>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
