<table class="table-auto w-full">
    <thead>
        <tr class="bg-gray-100 dark:bg-gray-700">
            <th class="px-4 py-2 text-center">Year</th>
            <th class="px-4 py-2 text-right">Amount</th>
            <th class="px-4 py-2 text-right">Per Share</th>
            <th class="px-4 py-2 text-right">Last Price</th>
            <th class="px-4 py-2 text-right">CPS yield</th>
            <th class="px-4 py-2 text-right">7% yield</th>
            <th class="px-4 py-2 text-right">6% yield</th>
        </tr>
    </thead>
    <tbody>
        <% years.each do |year_object| %>
            <tr class="<%= cycle('bg-white', 'bg-gray-50 dark:bg-gray-800') %>">
                <td class="px-4 py-2 border-t text-center"><%= year_object[:year] %></td>
                <td class="px-4 py-2 border-t text-right"><%= helpers.format_currency year_object[:total] %></td>
                <td class="px-4 py-2 border-t text-right"><%= helpers.format_currency year_object[:per_share] %></td>
                <td class="px-4 py-2 border-t text-right"><%= helpers.format_currency year_object[:last_price] %></td>
                <td class="px-4 py-2 border-t text-right"><%= helpers.format_percentage year_object[:per_share], year_object[:cps] %></td>
                <td class="px-4 py-2 border-t text-right"><%= helpers.format_currency year_object[:per_share] / 0.07 %></td>
                <td class="px-4 py-2 border-t text-right"><%= helpers.format_currency year_object[:per_share] / 0.06 %></td>
            </tr>
        <% end %>
    </tbody>
</table>

