<table class="table-auto w-full">
    <thead>
        <tr class="bg-gray-100 dark:bg-gray-700">
            <th class="px-4 py-2 text-left">Ex-Date</th>
            <th class="px-4 py-2 text-left">Pay Date</th>
            <th class="px-4 py-2 text-right">Amount</th>
            <th class="px-4 py-2 text-right">% from Last Price</th>
        </tr>
    </thead>
    <tbody>
        <% sum = 0 %>
        <% announcements.each do |announcement| %>
            <% sum += announcement.amount %>
            <tr class="<%= cycle('bg-white', 'bg-gray-50 dark:bg-gray-800') %>">
                <td class="px-4 py-2 border-t text-left"><%= announcement.ex_date %></td>
                <td class="px-4 py-2 border-t text-left"><%= announcement.payout_date %></td>
                <td class="px-4 py-2 border-t text-right"><%= helpers.format_currency(announcement.amount) %></td>
                <td class="px-4 py-2 border-t text-right"><%= helpers.format_percentage announcement.amount, last_price %></td>
            </tr>
        <% end %>
        <tr class="<%= cycle('bg-white', 'bg-gray-50 dark:bg-gray-800') %>">
            <td class="px-4 py-2 border-t text-right font-bold" colspan="2">Total</td>
            <td class="px-4 py-2 border-t text-right"><%= helpers.format_currency sum %></td>
            <td class="px-4 py-2 border-t text-right"><%= helpers.format_percentage sum, last_price %></td>
        </tr>
    </tbody>
</table>

<p class="mt-4">
    <%= link_to "Past Dividends", dividend_announcements_url(ticker: company.ticker, future_only: 0, company_scope: 'all'), class: "text-blue-500 hover:text-blue-700 underline", target: "_blank" %>
    <%= button_to 'Refetch Announcements', refetch_announcements_company_path(company), method: :delete, class: "mt-4 px-4 py-2 text-red-500 hover:text-red-700 border border-red-500 hover:border-red-700", data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to delete all dividend announcements?' } %>
</p>
