<div class="container-fluid">
    <p id="notice"><%= notice %></p>
    <h1 class="display-4 d-block p-2">
        Stock Dividends <%= link_to "<span class='text-info fe fe-plus-square'></span>".html_safe, new_stock_dividend_path %>
    </h1>
    <div class="table-responsive">
        <table class="table table-sm table-striped table-hover">
            <thead class="thead-dark">
                <tr class="text-center">
                    <th>Company</th>
                    <th class="text-right">Amount</th>
                    <th>Pay date</th>
                    <th>Ex date</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <% @stock_dividends.each do |stock_dividend| %>
                    <tr class="text-center">
                        <th><%= stock_dividend.company %></th>
                        <td><%= stock_dividend.amount %></td>
                        <td><%= format_date stock_dividend.pay_date %></td>
                        <td><%= format_date stock_dividend.ex_date %></td>
                        <td>
                            <%= link_to 'Show', stock_dividend, class: "btn btn-primary btn-sm" %>
                            <span class="align-middle" style="font-size: 20px;">
                                <%= link_to edit_icon, edit_stock_dividend_path(stock_dividend) %>
                                <%= link_to trash_icon, stock_dividend, method: :delete, data: { confirm: 'Are you sure?' } %>
                            </span>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>