<div class="min-h-screen flex items-center justify-center bg-gray-50 py-8 px-4 sm:px-6 lg:px-8">
    <div class="max-w-md w-full space-y-8">
        <div>
            <h1 class="text-3xl font-bold text-gray-900 text-center">Investments Portfolio</h1>
            <h2 class="mt-6 text-center text-3xl font-extrabold text-gray-900">
                Forgot your password?
            </h2>
            <p class="mt-2 text-center text-sm text-gray-600">
                Or
                <%= link_to new_session_path(resource_name), class: "font-medium text-primary-600 hover:text-primary-500" do %>
                    sign in to your account
                <% end %>
            </p>
        </div>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "mt-8 space-y-6" }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <div class="rounded-md shadow-sm -space-y-px">
                <div class="p-2">
                    <%= f.label :email %>
                    <%= f.email_field :email, autofocus: true, disabled: true, autocomplete: "email", class: "appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md rounded-b-md focus:outline-none focus:ring-primary-500 focus:border-primary-500 focus:z-10 sm:text-sm" %>
                    <small class="block">Self-service email reset currently disabled.</small>
                    <small class="block">Please contact rystraum@rystraum.com for password reset requests. Include the email that you used.</small>
                </div>
            </div>
            <div>
                <button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white bg-primary-600 hover:bg-primary-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-primary-500">
                    Send me reset password instructions
                </button>
            </div&gt>
        <% end %>
    </div>
</div>
