<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />

<h1 class="text-3xl font-bold m-4">Dividend Announcements</h1>

<%= form_tag(dividend_announcements_path, method: :get, class: "flex items-center px-4 py-2 mb-4") do %>
  <%= label_tag :ticker, "Ticker", class: "mr-2" %>
  <%= text_field_tag :ticker, params[:ticker], class: "p-2 border rounded-md" %>
  <div class="mx-4">
    <label class="mr-2">
      <%= radio_button_tag :future_only, '1', params[:future_only].to_i == 1, class: "mr-1", id: "future_only_1" %>
      Payout Future Only
    </label>
    <label class="mr-2">
      <%= radio_button_tag :future_only, '2', params[:future_only].to_i == 2, class: "mr-1", id: "future_only_2" %>
      Ex Date Future Only
    </label>
    <label class="mr-2">
      <%= radio_button_tag :future_only, '3', params[:future_only].to_i == 3, class: "mr-1", id: "future_only_3" %>
      This Year
    </label>
    <label class="mr-2">
      <%= radio_button_tag :future_only, '0', params[:future_only].to_i.zero?, class: "mr-1", id: "future_only_0" %>
      All Announcements
    </label>
  </div>
  <div class="mx-2">|</div>
  <div class="mx-4">
    <label class="mr-2">
      <%= radio_button_tag :company_scope, 'all', params[:company_scope] == 'all', class: "mr-1", id: "company_scope_all" %>
      All Companies
    </label>
    <label class="mr-2">
      <%= radio_button_tag :company_scope, 'portfolio', params[:company_scope] == 'portfolio', class: "mr-1", id: "company_scope_portfolio" %>
      Portfolio
    </label>
  </div>
  <%= submit_tag "Filter", class: "px-4 py-2 bg-blue-500 hover:bg-blue-700 text-white rounded-md" %>
<% end %>

<% portfolio_dividends = 0 %>
<div class="p-4">
  <table class="table-auto w-full mb-4">
    <thead>
      <tr class="bg-gray-200">
        <th class="px-4 py-2 text-left">Company</th>
        <th class="px-4 py-2 text-left">Dividend Type</th>
        <th class="px-4 py-2 text-right">Amount</th>
        <th class="px-4 py-2 text-right">Ex Date</th>
        <th class="px-4 py-2 text-right">Record Date</th>
        <th class="px-4 py-2 text-right">Payout Date</th>
        <th class="px-4 py-2 text-right">
          <div x-data x-tooltip.raw="% amount means the amount to be released is x% of the last price recorded. This is ideally >1% for quarterly dividends (e.g. REITs), >2.5% for bi-annual, >4% for annual dividends">
              Last Price (% amount) [?]
          </div>
        </th>
        <th class="px-4 py-2 text-right">PSE Edge</th>
        <% if params[:company_scope] == 'portfolio' %>
          <th class="px-4 py-2 text-right">Shares Held</th>
          <th class="px-4 py-2 text-right">Total Dividend</th>
          <th class="px-4 py-2 text-right">Net WT</th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @dividend_announcements.each do |dividend_announcement| %>
        <tr class="<%= cycle('bg-white', 'bg-gray-100') %>">
          <td class="px-4 py-2"><%= link_to dividend_announcement.company.ticker, company_url(dividend_announcement.company), target: :_blank %></td>
          <td class="px-4 py-2"><%= dividend_announcement.dividend_type %></td>
          <td class="px-4 py-2 text-right"><%= number_with_precision(dividend_announcement.amount, precision: 4) %></td>
          <td class="px-4 py-2 text-right">
            <%= dividend_announcement.ex_date.strftime("%b %d, %Y") %>
            <% if dividend_announcement.ex_date > Date.today %>
              (<%= distance_of_time_in_words_to_now(dividend_announcement.ex_date) %> from now)
            <% end %>
          </td>
          <td class="px-4 py-2 text-right"><%= dividend_announcement.record_date.strftime("%b %d, %Y") %></td>
          <td class="px-4 py-2 text-right">
            <%= dividend_announcement.payout_date.strftime("%b %d, %Y") %>
            <% if dividend_announcement.payout_date > Date.today %>
              (<%= distance_of_time_in_words_to_now(dividend_announcement.payout_date) %> from now)
            <% end %>
          </td>
          <td class="px-4 py-2 text-right">
            <%= dividend_announcement.company.last_price %>
            (<%= format_percentage dividend_announcement.amount, dividend_announcement.company.last_price %>)
          </td>
          <td class="px-4 py-2 text-right">
            <%= link_to "Edge", dividend_announcement.company.pse_dividends_url, target: :_blank %>
          </td>
          <% if params[:company_scope] == 'portfolio' %>
            <% portfolio = UserPortfolioCompany.new(current_user, dividend_announcement.company) %>
            <td class="px-4 py-2 text-right"><%= portfolio.total_shares %></td>
            <% portfolio_dividends += total_dividends = portfolio.total_shares * dividend_announcement.amount %>
            <td class="px-4 py-2 text-right"><%= format_currency(total_dividends) %></td>
            <td class="px-4 py-2 text-right"><%= format_currency(total_dividends * 0.9) %></td>
          <% end %>
        </tr>
      <% end %>
      <% if params[:company_scope] == 'portfolio' %>
        <tr>
          <td class="px-4 py-2 text-right" colspan=9>&nbsp;</td>
          <td class="px-4 py-2 text-right font-bold"><%= format_currency(portfolio_dividends) %></td>
          <td class="px-4 py-2 text-right font-bold"><%= format_currency(portfolio_dividends * 0.9) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<% if params[:company_scope] != 'portfolio' %>
  <%= will_paginate @dividend_announcements, class: "flex items-center justify-center" %>
<% end %>