<%= form_with(model: company, local: true, class: "form") do |form| %>
    <% if company.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(company.errors.count, "error") %> prohibited this company from being saved:</h2>
            <ul>
                <% company.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= form.label :ticker %>
        <%= form.text_field :ticker, class: 'w-full', placeholder: "Ticker" %>
    </div>
    <div class="field">
        <%= form.label :name %>
        <%= form.text_field :name, class: 'w-full', placeholder: "Company Name" %>
    </div>
    <div class="field">
        <%= form.label :industry %>
        <%= form.select :industry, options_for_select(company_industry_options, company.industry), {include_blank: "Industry"}, required: :required, class: 'w-full' %>
    </div>
    <div class="field">
        <%= form.label :pse_company_id %>
        <%= form.text_field :pse_company_id, class: 'w-full', placeholder: "PSE Company ID" %>
    </div>
    <div class="field">
        <%= form.label :pse_security_id %>
        <%= form.text_field :pse_security_id, class: 'w-full', placeholder: "PSE Security ID" %>
    </div>
    <div class="field form-check">
        <%= form.check_box :inactive, class: 'form-check-input'  %>
        <%= form.label :inactive, class: 'form-check-label'  %>
    </div>
    <div class="flex">
        <%= form.submit (company.persisted? ? "Update" : "Add"), class: "btn btn-sm btn-primary ml-auto" %>
    </div>
<% end %>
