<%# locals(dividend:) %>


<tr>
    <td></td>
    <td><%= dividend.amount %></td>
    <td><%= dividend.ex_date.blank? ? "-" : dividend.ex_date.to_formatted_s(:long) %></td>
    <td><%= dividend.pay_date.to_formatted_s(:long) %></td>
    <td></td>
    <td><%= dividend.last_price&.to_formatted_s %></td>
    <td><%= link_to(refresh_icon.html_safe, update_meta_cash_dividend_path(dividend), method: :put, class: "") %></td>
</tr>