<div class="container-fluid">
    <div class="row">
        <div class="col company-new border-right w-25">
            <div class="card">
                <div class="card-body">
                    <h2> Add new company</h2>
                    <%= render 'form', company: @company %>
                </div>
            </div>
        </div>

        <div class="col col-9 company-table">
            <p id="notice"><%= notice %></p>
            <h1 class="display-4 d-block p-2">Companies</h1>

            <div class="table-responsive-sm">
                <table class="table table-sm table-striped table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th class="w-50">Ticker</th>
                            <th class="w-25">Industry</th>
                            <th class="action-column">Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @companies.each do |company| %>
                            <tr>
                                <td style="padding: 20px 0px 20px 10px;"><%= company.ticker %></td>
                                <td><%= company.industry %></td>
                                <td class="text-right" style="width: 6%;">
                                    <span class="align-middle" style="font-size: 15px;">
                                        <%= link_to "<span class='fe fe-eye'></span>".html_safe, company %>
                                        <%= link_to "<span class='fe fe-edit'></span>".html_safe, edit_company_path(company) %>
                                        <%= link_to "<span class='fe fe-trash'></span>".html_safe, company, method: :delete, data: { confirm: 'Are you sure?' } %>
                                    </span>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
</div>
