<%= render "shared/header", text: "Companies" do %>
    <% if @permissions.can? :price_update, Company %>
        <%= link_to price_update_all_from_pse_companies_path, method: :post, class: "btn btn-primary" do %>
            <span class="mr-2 inline-block"><%= save_as_icon %></span>
            <span>Update all from PSE</span>
        <% end %>
    <% end %>
<% end %>

<% if @permissions.can? :add, Company %>
<div class="card company-new w-1/4">
    <h2 class="card-header">Add new company</h2>
    <div class="card-body"><%= render 'companies/form', company: @company %></div>
</div>
<% end %>

<table class="table table-striped m-6">
    <thead class="thead-dark">
        <tr>
            <th class="w-1/5">Ticker / Active</th>
            <th class="w-1/5">Name</th>
            <th class="w-1/5">Industry</th>
            <th class="w-1/5">Last Price</th>
            <th class="action-column">Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @companies.each do |company| %>
            <tr class="company-row <%= cycle('odd', 'even') %>">
                <td class="flex">
                    <%= link_to company.ticker, company %>
                    <span class="badge ml-auto <%= company.inactive? ? "badge-danger" : "badge-info" %>" style="font-size: 12px;"><%= company.inactive? ? "No" : "Yes" %></span>
                </td>
                <td><%= company.name %></td>
                <td><%= company.industry %></td>
                <td class="flex">
                    <%= company.last_price %>
                    <% if @permissions.can? :price_update, company %>
                        <%= link_to "Update from PSE", [:price_update_from_pse, company], method: :post, style: "margin-left: auto" if company.can_update_from_pse? %>
                    <% end %>
                </td>
                <td class="text-right" style="width: 6%;">
                    <div class="flex">
                        <%= link_to link_icon, company.pse_url, target: :_blank %>
                        <%= link_to eye_icon, company %>
                        <% if @permissions.can? :edit, company %>
                            <%= link_to edit_icon, edit_company_path(company) %>
                        <% end %>
                        <% if @permissions.can? :delete, company %>
                            <%= link_to trash_icon, company, method: :delete, data: { confirm: 'Are you sure?' } %>
                        <% end %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>
