<div class="ml-auto mt-4 btn-group">
    <%= link_to '<i class="fe fe-chevron-left"></i> Back'.html_safe, companies_path, class: "btn btn-primary" %>
    <%= link_to 'Edit', edit_company_path(@company), class: "btn btn-secondary" %>
</div>
<p id="notice"><%= notice %></p>
<div class="container-fluid">
    <div class="row mb-4">
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h1 class="card-header-title"><%= @company.ticker %></h1>
                </div>
                <div class="card-body">
                    <dl class="">
                        <div>
                            <dt>Industry</dt>
                            <dd><%= @company.industry %></dd>
                        </div>
                        <div>
                            <dt>Inactive</dt>
                            <dd><%= @company.inactive? ? "Yes" : "No" %></dd>
                        </div>
                        <div>
                            <dt>PSE Security ID</dt>
                            <dd><%= @company.pse_security_id || "-" %></dd>
                        </div>
                        <div>
                            <dt>PSE Company ID</dt>
                            <dd><%= @company.pse_company_id || "-" %></dd>
                        </div>
                    </dl>
                </div>
            </div>
        </div>
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">Activities</h4>
                </div>
                <div class="table-responsive mb-0">
                    <table class="table table-striped card-table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Type</th>
                                <th>Shares</th>
                                <th>Cost Per Share</th>
                                <th class="text-right">Amount</th>
                            </tr>
                        </thead>
                        <% @company.activities.each do |activity| %>
                            <tr>
                                <td><%= activity.date.to_formatted_s(:long) %></td>
                                <td><%= activity.activity_type %></td>
                                <td><%= activity.number_of_shares %></td>
                                <td><%= format_currency activity.cost_per_share %></td>
                                <td class="text-right"><%= format_currency activity.total_price %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-8">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">Dividends</h4>
                </div>
                <div class="table-responsive mb-0">
                    <table class="table table-striped card-table table-hover">
                        <thead>
                            <tr>
                                <th>Cash</th>
                                <th>Stock</th>
                                <th>Ex Date</th>
                                <th>Pay Date</th>
                                <th>Stocks Held on Ex Date</th>
                                <th>Closest Price</th>
                            </tr>
                        </thead>
                        <% @company.dividends.each do |dividend| %>
                            <tr>
                                <td><%= dividend.is_a?(CashDividend) ? format_currency(dividend.amount) : "" %></td>
                                <td><%= dividend.is_a?(StockDividend) ? dividend.amount : "" %></td>
                                <td><%= dividend.ex_date.blank? ? "-" : dividend.ex_date.to_formatted_s(:long) %></td>
                                <td><%= dividend.pay_date.to_formatted_s(:long) %></td>
                                <td><%= dividend.is_a?(CashDividend) ? dividend.stocks_at_ex_date : "" %></td>
                                <td><%= dividend.is_a?(CashDividend) ? dividend.last_price&.to_formatted_s : "" %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-header-title">Price Updates</h4>
                </div>
                <div class="table-responsive mb-0">
                    <table class="table table-striped card-table table-hover">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <% @company.price_updates.last(5).reverse.each do |price| %>
                            <tr>
                                <td><%= price.datetime.to_formatted_s(:long) %></td>
                                <td><%= price.price %></td>
                            </tr>
                        <% end %>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="timeline-container mb-4">
    <h1>Timeline</h1>
    <% planned_number_of_shares = number_of_shares = total_cost = last_dividend_rate = 0 %>
    <% @company.history.each do |thing| %>
        <div class="card <%= thing.class.to_s.titleize.parameterize %>">
            <% if thing.is_a?(Activity) %>
                <div class="card-body">
                    <h3>
                        <%= link_to thing, target: :_blank do %>
                            <%= thing.activity_type %>
                        <% end %>
                        <br>
                        <%= thing.date.to_formatted_s(:long) %>
                    </h3>
                    <dl>
                        <div>
                            <dt>Number of Shares</dt>
                            <dd><%= thing.number_of_shares %></dd>
                        </div>
                        <div>
                            <dt>Total Price</dt>
                            <dd><%= format_currency thing.total_price %></dd>
                        </div>
                    </dl>
                </div>
                <% number_of_shares = thing.adjust(number_of_shares) %>
                <% planned_number_of_shares = thing.adjust(planned_number_of_shares, include_planned: true) %>
            <% else %>
                <div class="card-body">
                    <h3>
                        <%= link_to thing, target: :_blank do %>
                            <%= thing.class.to_s.titleize %>
                        <% end %>
                        <br>
                        <%= thing.display_date.html_safe %>
                    </h3>
                    <dl>
                        <div>
                            <dt>Amount</dt>
                            <dd><%= format_currency thing.amount %></dd>
                        </div>
                        <% if thing.is_a?(StockDividend) %>
                            <% number_of_shares += thing.amount %>
                        <% end %>
                        <% if thing.is_a?(CashDividend) %>
                            <div>
                                <dt>Shares on Ex Date:</dt>
                                <dd><%= thing.stocks_at_ex_date %></dd>
                            </div>
                            <div>
                                <dt>Dividend Per Share:</dt>
                                <dd><%= format_currency thing.dividend_per_share %></dd>
                                <% last_dividend_rate = thing.dividend_per_share %>
                            </div>
                        <% end %>
                    </dl>
                </div>
            <% end %>
            <div class="card-footer">
                <h4>Ending</h4>
                <dl>
                    <div>
                        <dt>Number of Shares</dt>
                        <dd><%= number_of_shares %></dd>
                    </div>
                </dl>
            </div>
        </div>
    <% end %>
    <div class="w-25">
        <p>Expected Next Dividend based from Last Dividend Rate:</p>
        <dl class="">
            <div class="">
                <dt>Shares on hand</dt>
                <dd><%= format_currency number_of_shares * last_dividend_rate %></dd>
            </div>
            <div class="">
                <dt>Planned</dt>
                <dd><%= format_currency planned_number_of_shares * last_dividend_rate %></dd>
            </div>
        </dl>
    </div>
</div>
