<div class="container mx-auto px-4 py-8">
  <div class="card">
    <div class="card-header">
      <h4 class="card-header-title">Portfolio Split</h4>
    </div>
    <div class="card-body">
      <div class="overflow-x-auto">
        <table class="table-auto w-full">
          <thead>
            <tr class="bg-gray-100 dark:bg-gray-700">
              <th class="px-4 py-2 text-left">
                Asset Type
              </th>
              <th class="px-4 py-2 text-right">
                Total Spend
              </th>
              <th class="px-4 py-2 text-right">
                Total Spend (%)
              </th>
              <th class="px-4 py-2 text-right">
                Current Value
              </th>
              <th class="px-4 py-2 text-right">
                Current Value (%)
              </th>
              <th class="px-4 py-2 text-right">
                Change (Value)
              </th>
              <th class="px-4 py-2 text-right">
                Change (%)
              </th>
            </tr>
          </thead>
          <tbody>
            <tr class="<%= cycle('bg-white', 'bg-gray-50 dark:bg-gray-800') %>">
              <td class="px-4 py-2 border-t text-left">Cash</td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(1000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(1000.00, 5000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(1200.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(1200.00, 5500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(1200.00 - 1000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(1200.00 - 1000.00, 1000.00) %></td>
            </tr>
            <tr class="<%= cycle('bg-white', 'bg-gray-50 dark:bg-gray-800') %>">
              <td class="px-4 py-2 border-t text-left">UITF</td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(500.00, 5000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(500.00, 5500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(500.00 - 500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(500.00 - 500.00, 500.00) %></td>
            </tr>
            <tr class="<%= cycle('bg-white', 'bg-gray-50 dark:bg-gray-800') %>">
              <td class="px-4 py-2 border-t text-left">Stock</td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(2500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(2500.00, 5000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(3000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(3000.00, 5500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(3000.00 - 2500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(3000.00 - 2500.00, 2500.00) %></td>
            </tr>
            <tr class="<%= cycle('bg-white', 'bg-gray-50 dark:bg-gray-800') %>">
              <td class="px-4 py-2 border-t text-left">Crypto</td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(1000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(1000.00, 5000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(800.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(800.00, 5500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(800.00 - 1000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(800.00 - 1000.00, 1000.00) %></td>
            </tr>
            <tr class="bg-gray-100 dark:bg-gray-700 font-bold">
              <td class="px-4 py-2 border-t text-left">Total</td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(5000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(5000.00, 5000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(5500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(5500.00, 5500.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_currency(5500.00 - 5000.00) %></td>
              <td class="px-4 py-2 border-t text-right"><%= format_percentage(5500.00 - 5000.00, 5000.00) %></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>