<%= form_with(model: crypto_activity, local: true) do |f| %>
  <% fiat = crypto_activity.crypto_currency.blank? ? "PHP" : crypto_activity.crypto_currency.fiat %>
  <% if crypto_activity.errors.any? %>
    <div class="alert alert-danger">
      <ul>
        <% crypto_activity.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :activity_type %>
    <%= f.select :activity_type, CryptoActivity.activity_types.keys.map { |k| [k.titleize, k] }, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :crypto_currency_id, 'Crypto Currency' %>
    <%= f.collection_select :crypto_currency_id, CryptoCurrency.alphabetical, :id, :ticker, {}, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :crypto_amount %>
    <%= f.number_field :crypto_amount, step: 0.00000001, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fiat_amount, "Fiat Amount (#{fiat})" %>
    <%= f.number_field :fiat_amount, step: 0.01, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fee_crypto, 'Fee (Crypto)' %>
    <%= f.number_field :fee_crypto, step: 0.00000000001, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :fee_fiat, "Fee (#{fiat})" %>
    <%= f.number_field :fee_fiat, step: 0.01, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :activity_date %>
    <%= f.date_field :activity_date, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :notes %>
    <%= f.text_area :notes, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.submit class: "btn btn-primary" %>
  </div>
<% end %>
