<%= render "shared/header", text: "Crypto Activities" do %>
  <%= link_to 'Add Crypto Activity', new_crypto_activity_path, class: 'btn btn-success' %>
<% end %>

<table class="table table-striped m-6">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Type</th>
      <th>Crypto</th>
      <th>Amount</th>
      <th>Fiat (PHP)</th>
      <th>Fee (Crypto)</th>
      <th>Fee (PHP)</th>
      <th>Fiat Forex</th>
      <th>Notes</th>
      <th class="action-column">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @crypto_activities.each do |activity| %>
      <tr class="crypto-activity-row <%= cycle('odd', 'even') %>">
        <td><%= activity.activity_date %></td>
        <td><%= activity.activity_type.titleize %></td>
        <td><%= link_to activity.crypto_currency.ticker, activity.crypto_currency %></td>
        <td><%= activity.crypto_amount %></td>
        <td><%= activity.fiat_amount %> <%= activity.fiat_currency %></td>
        <td><%= activity.fee_crypto %></td>
        <td><%= activity.fee_fiat %></td>
        <td><%= format_currency activity.fiat_forex, 3 %></td>
        <td><%= activity.notes %></td>
        <td class="text-right" style="width: 6%;">
          <div class="flex">
            <%= link_to eye_icon, crypto_currency_path(activity.crypto_currency) %>
            <%= link_to edit_icon, edit_crypto_activity_path(activity) %>
            <%= link_to trash_icon, crypto_activity_path(activity), method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
