<%= form_with(model: activity, local: true, class: "form js-activity-form mr-4", data: { controller: "activity-price-calculator" }) do |form| %>
    <% if activity.errors.any? %>
        <div id="error_explanation">
            <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
            <ul>
                <% activity.errors.full_messages.each do |message| %>
                    <li><%= message %></li>
                <% end %>
            </ul>
        </div>
    <% end %>
    <div class="field">
        <%= form.label :date %>
        <%= form.date_field :date, class: "w-full" %>
    </div>
    <div class="field">
        <%= form.label :company_id %>
        <div class="d-flex">
            <% companies = Company.pluck(:ticker, :id) %>
            <%= form.select :company_id, companies, {}, { class: "js-activity-company w-full" } %>
        </div>
    </div>
    <div class="field">
        <%= form.label :activity_type %>
        <%= form.select :activity_type, ["BUY", "SELL", "PLANNED BUY", "PLANNED SELL"], {}, { class: "w-full", data: { activity_price_calculator_target: "activityType" } } %>
    </div>
    <div class="field">
        <%= form.label :number_of_shares %>
        <%= form.number_field :number_of_shares, class: "js-activity-shares w-full", data: { activity_price_calculator_target: "shares", action: "input->activity-price-calculator#onInput" } %>
    </div>
    <div class="field">
        <label>Price per Share</label>
        <input type="text" step="0.01" min="0.01" class="w-full" data-activity-price-calculator-target="pricePerShare" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/^0(?!$)/, '')" data-action="input->activity-price-calculator#onInput">
    </div>
    <div class="field">
        <%= form.label :charges %>
        <%= form.text_field :charges, { class: "w-full", data: { activity_price_calculator_target: "charges", action: "input->activity-price-calculator#onInput" } } %>
    </div>
    <div class="field">
        <%= form.label :total_price %>
        <%= form.text_field :total_price, { class: "w-full", data: { activity_price_calculator_target: "totalPrice", action: "input->activity-price-calculator#onInput" }  } %>
        <div data-activity-price-calculator-target="effectivePriceInfo" class="text-xs text-gray-500 mt-1"></div>
    </div>
    <div class="field">
        <%= form.label :notes %>
        <%= form.text_area :notes, { class: "w-full" } %>
    </div>
    <div class="js-last-price-container">
    </div>
    <div class="flex">
        <%= form.submit class: "btn btn-primary ml-auto" %>
    </div>
<% end %>
