<div class="d-flex">
    <%= form_with(model: activity, local: true, class: "js-activity-form mr-4") do |form| %>
        <% if activity.errors.any? %>
            <div id="error_explanation">
                <h2><%= pluralize(activity.errors.count, "error") %> prohibited this activity from being saved:</h2>
                <ul>
                    <% activity.errors.full_messages.each do |message| %>
                        <li><%= message %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
        <div class="field">
            <%= form.label :date %>
            <%= form.date_field :date %>
        </div>
        <div class="field">
            <%= form.label :company_id %>
            <div class="d-flex">
                <% companies = Company.pluck(:ticker, :id) %>
                <%= form.select :company_id, companies, {}, { class: "js-activity-company" } %>
                <div class="js-company-link ml-2">
                    <%= link_to "LINK", company_path(activity.company || companies.first.second), target: :_blank %>
                </div>
            </div>
        </div>
        <div class="field">
            <%= form.label :activity_type %>
            <%= form.select :activity_type, ["BUY", "SELL", "PLANNED BUY", "PLANNED SELL"] %>
        </div>
        <div class="field">
            <%= form.label :number_of_shares %>
            <%= form.number_field :number_of_shares, class: "js-activity-shares" %>
        </div>
        <div class="field">
            <%= form.label :charges %>
            <%= form.text_field :charges %>
        </div>
        <div class="field">
            <%= form.label :total_price %>
            <%= form.text_field :total_price %>
        </div>
        <div class="field">
            <%= form.label :notes %>
            <%= form.text_area :notes %>
        </div>
        <div class="js-last-price-container">
        </div>
        <div class="actions">
            <%= form.submit %>
        </div>
    <% end %>
    <table style="width: 416px; height: 340px;" cellspacing="1" cellpadding="1" border="1" align="left">
        <tbody>
            <tr>
                <td colspan="2"><small><strong>PRICE</strong></small></td>
                <td><small><strong>TICK SIZE</strong></small></td>
                <td><small><strong>LOT SIZE</strong></small></td>
            </tr>
            <tr>
                <td><small><strong>From</strong></small></td>
                <td><small><strong>To</strong></small></td>
                <td><small></small></td>
                <td><small></small></td>
            </tr>
            <tr>
                <td><small>0.0001</small></td>
                <td><small>0.0099</small></td>
                <td><small>0.0001</small></td>
                <td><small>1,000,000</small></td>
            </tr>
            <tr>
                <td><small>0.010</small></td>
                <td><small>0.049</small></td>
                <td><small>0.001</small></td>
                <td><small>100,000</small></td>
            </tr>
            <tr>
                <td><small>0.050</small></td>
                <td><small>0.249</small></td>
                <td><small>0.001</small></td>
                <td><small>10,000</small></td>
            </tr>
            <tr>
                <td><small>0.250</small></td>
                <td><small>0.495</small></td>
                <td><small>0.005</small></td>
                <td><small>10,000</small></td>
            </tr>
            <tr>
                <td><small>0.50</small></td>
                <td><small>4.99</small></td>
                <td><small>0.01</small></td>
                <td><small>1,000</small></td>
            </tr>
            <tr>
                <td><small>5.00</small></td>
                <td><small>9.99</small></td>
                <td><small>0.01</small></td>
                <td><small>100</small></td>
            </tr>
            <tr>
                <td><small>10.00</small></td>
                <td><small>19.98</small></td>
                <td><small>0.02</small></td>
                <td><small>100</small></td>
            </tr>
            <tr>
                <td><small>20.00</small></td>
                <td><small>49.95</small></td>
                <td><small>0.05</small></td>
                <td><small>100</small></td>
            </tr>
            <tr>
                <td><small>50.00</small></td>
                <td><small>99.95</small></td>
                <td><small>0.05</small></td>
                <td><small>10</small></td>
            </tr>
            <tr>
                <td><small>100.0</small></td>
                <td><small>199.9</small></td>
                <td><small>0.1</small></td>
                <td><small>10</small></td>
            </tr>
            <tr>
                <td><small>200.0</small></td>
                <td><small>499.8</small></td>
                <td><small>0.2</small></td>
                <td><small>10</small></td>
            </tr>
            <tr>
                <td><small>500.0</small></td>
                <td><small>999.5</small></td>
                <td><small>0.5</small></td>
                <td><small>10</small></td>
            </tr>
            <tr>
                <td><small>1,000</small></td>
                <td><small>1,999</small></td>
                <td><small>1</small></td>
                <td><small>5</small></td>
            </tr>
            <tr>
                <td><small>2,000</small></td>
                <td><small>4,998</small></td>
                <td><small>2</small></td>
                <td><small>5</small></td>
            </tr>
            <tr>
                <td><small>5,000</small></td>
                <td><small>UP</small></td>
                <td><small>5</small></td>
                <td><small>5</small></td>
            </tr>
        </tbody>
    </table>
</div>
