<%= render "shared/header", text: "Activities" do %>
    <%= link_to new_activity_path, class: "btn btn-primary" do %>
        <%= add_icon %>
        <span>New Activity</span>
    <% end %>
<% end %>

<table class="table table-striped m-auto">
    <thead class="thead-dark">
        <tr class="text-center">
            <th>Date</th>
            <th>Company</th>
            <th>Activity type</th>
            <th>Number of shares</th>
            <th class="text-right">Total price</th>
            <th class="text-right">Charges</th>
            <th class="text-right">Notes</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <% @activities.each do |activity| %>
            <tr>
                <th><%= format_date activity.date %></th>
                <th><%= link_to activity.company, activity.company %></th>
                <td>
                    <span class="<%= activity.is_buy? ? "badge badge-success" : activity.is_sell? ? "badge badge-danger" : "badge badge-warning" %>" style="font-size: 12px;">
                        <%= activity.activity_type %>
                    </span>
                    <br>
                    <%= link_to "Convert", [:convert_planned, activity], method: :post, data: { confirm: "Are you sure you want to convert #{activity.activity_type}?" }, class: "btn btn-primary" if activity.is_planned? %>
                </td>
                <td><%= activity.number_of_shares %></td>
                <td class="text-right"><%= number_to_currency activity.total_price, unit: "" %></td>
                <td class="text-right"><%= number_to_currency activity.charges, unit: "" %></td>
                <td class="text-right"><%= truncate activity.notes %></td>
                <td>
                    <div class="flex w-20">
                        <%= link_to eye_icon, activity, class: "w-8 h-8" %>
                        <%= link_to edit_icon, edit_activity_path(activity), class: "w-8 h-8" %>
                        <%= link_to trash_icon, activity, method: :delete, data: { confirm: 'Are you sure?' }, class: "w-8 h-8" %>
                    </div>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>