<p id="notice"><%= notice %></p>
<dl class="w-1/4 p-4 my-2">
    <%= render DLTableComponent.new("Date", @activity.date.to_formatted_s(:long)) %>
    <%= render DLTableComponent.new("Company") do %>
        <%= link_to @activity.company, @activity.company %>
    <% end %>
    <%= render DLTableComponent.new("Type", @activity.activity_type) %>
    <%= render DLTableComponent.new("Number of Shares", @activity.number_of_shares) %>
    <%= render DLTableComponent.new("Price per Share", format_currency(@activity.cost_per_share(include_planned: true))) %>
    <%= render DLTableComponent.new("Total Price", format_currency(@activity.total_price)) %>
    <%= render DLTableComponent.new("Charges", format_currency(@activity.charges)) %>
    <%= render DLTableComponent.new("Notes", sanitize(@activity.notes)) %>
</dl>

<div class="p-4">
    <%= link_to "#{edit_icon} Edit".html_safe, edit_activity_path(@activity), class: "btn btn-secondary btn-sm mr-4" %>
    <%= link_to "#{chevron_left_icon} Back".html_safe, activities_path, class: "btn btn-primary btn-sm mr-4" %>
</div>
