<p id="notice"><%= notice %></p>
<p>
    <strong>Company:</strong>
    <%= @activity.date %>
</p>
<p>
    <strong>Company:</strong>
    <%= link_to @activity.company, @activity.company %>
</p>
<p>
    <strong>Activity type:</strong>
    <%= @activity.activity_type %>
</p>
<p>
    <strong>Number of shares:</strong>
    <%= @activity.number_of_shares %>
</p>
<p>
    <strong>Total price:</strong>
    <%= format_currency @activity.total_price %>
</p>
<p>
    <strong>Charges</strong>
    <%= @activity.charges %>
</p>
<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
