<%# locals: (crypto:, permissions:, cost_basis:, css_class: '') %>
<div class="card <%= cycle('odd', 'even') %> <%= css_class %>">
    <div class="card-header">
        <h4 class="card-header-title">
        <%= link_to crypto do %>
            <%= crypto.name %> (<%= crypto.ticker %>)
        <% end %>
        </h4>
    </div>
    <div class="card-body">
        <dl class="kv-pair">
          <div>
            <dt>Cost Basis</dt>
            <dd>
                <% if crypto.last_price && cost_basis.positive? %>
                    <% last_price_color = crypto.last_price < cost_basis ? 'text-red-500' : 'text-green-500' %>
                    <p class="<%= last_price_color %>">
                        <span><%= format_currency cost_basis %> <%= crypto.fiat %></span>
                        <span>(<%= format_percentage crypto.last_price - cost_basis, cost_basis %>)</span>
                    </p>
                <% else %>
                    <%= format_currency cost_basis %> <%= crypto.fiat %>
                <% end %>
            </dd>

            <dt>Last Price</dt>
            <dd>
                <% if crypto.last_price_at && crypto.last_price %>
                    <%= format_currency crypto.last_price, 3 %>
                <% else %>
                    -
                <% end %>
            </dd>
            <% if crypto.last_price_at %>
            <dd><small class="text-gray-300"> as of <%= distance_of_time_in_words_to_now(crypto.last_price_at) %> ago</small></dd>
            <% end %>
        </dl>
    </div>
    <div class="text-right mt-2">
    <% if permissions.can?(:update, crypto) %>
        <%= link_to edit_icon, edit_crypto_currency_path(crypto), class: "inline-block ml-2", title: "Edit" %>
    <% end %>
    </div>
</div>