<%= form_with(model: crypto_currency, local: true, class: "form mr-4") do |form| %>
  <% if crypto_currency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(crypto_currency.errors.count, "error") %> prohibited this crypto currency from being saved:</h2>
      <ul>
        <% crypto_currency.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= form.label :ticker %>
    <%= form.text_field :ticker, class: 'w-full', placeholder: "Ticker" %>
  </div>
  <div class="field">
    <%= form.label :quote_token %>
    <%= form.text_field :quote_token, class: 'w-full', placeholder: "Quote Token" %>
    <small>Typically USDC, USDT or PHP</small>
  </div>
  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, class: 'w-full', placeholder: "Crypto Name" %>
  </div>
  <div class="field">
    <%= form.label :last_price %>
    <%= form.number_field :last_price, step: "0.01", class: 'w-full', placeholder: "Last Price" %>
    <p class="text-xs text-gray-600">In PHP</p>
  </div>
  <div class="field">
    <%= form.label :datasource %>
    <%= form.select :datasource, options_for_select([["CoinsPH", CryptoCurrency::COINSPH_DATASOURCE], [ "CoinMarketCap", CryptoCurrency::COINMARKETCAP_DATASOURCE]], crypto_currency.datasource), { class: "w-full" } %>
  </div>
  <div class="field">
    <%= form.label :datasource_ticker %>
    <%= form.text_field :datasource_ticker, class: 'w-full' %>
  </div>
  <div class="flex">
    <%= form.submit (crypto_currency.persisted? ? "Update" : "Add"), class: "btn btn-sm btn-primary ml-auto" %>
  </div>
<% end %>
