<div class="flex flex-row p-4 mt-4">
  <%= link_to "#{chevron_left_icon} Back".html_safe, crypto_currencies_path, class: "btn btn-primary" %>
  <%= link_to "Add Crypto Activity", new_crypto_activity_path, class: "btn btn-success ml-auto" %>
</div>
<div class="flex">
  <div class="w-full md:w-1/3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title"><%= @crypto_currency.name %> (<%= @crypto_currency.ticker %>)</h4>
      </div>
      <div class="card-body">
        <dl class="kv-pair">
          <div>
            <dt>Last Price</dt>
            <dd><%= @crypto_currency.last_price %></dd>
          </div>
          <div>
            <dt>Last Price At</dt>
            <dd><%= @crypto_currency.last_price_at %></dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h4 class="card-header-title">Summary</h4>
      </div>
      <div class="card-body">
        <div class="flex flex-wrap">
          <div class="w-full sm:w-1/2 p-2">
            <dl class="kv-pair">
              <div>
                <dt>Total Crypto Held:</dt>
                <dd><%= @net_crypto %> <%= @crypto_currency.ticker %></dd>
              </div>
              <div>
                <dt>Total Fiat Invested:</dt>
                <dd><%= format_currency @total_fiat %> PHP</dd>
              </div>
              <div>
                <dt>Total Proceeds from Sales:</dt>
                <dd><%= format_currency @total_proceeds %> PHP</dd>
              </div>
            </dl>
          </div>
          <div class="w-full sm:w-1/2 p-2">
            <dl class="kv-pair">
              <div>
                <dt>Cost Basis:</dt>
                <dd><%= format_currency @cost_basis %> PHP/<%= @crypto_currency.ticker %></dd>
              </div>
              <div>
                <dt>Cost Basis (USD @ 57PHP):</dt>
                <dd><%= format_currency @cost_basis / 57 %> USD/<%= @crypto_currency.ticker %></dd>
              </div>
            </dl>
          </div>
        </div>
        <dl class="kv-pair">
          <div>
            <dt>Total P&amp;L:</dt>
            <dd><%= format_currency @pnl %> PHP</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <div class="w-full md:w-2/3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">Activities</h4>
      </div>
      <div class="overflow-x-auto" data-controller="crypto-activity-selection">
        <div class="p-2 bg-gray-100 flex gap-4">
          <span><strong>Selected Crypto Sum:</strong> <span data-crypto-activity-selection-target="cryptoSum">0</span> <%= @crypto_currency.ticker %></span>
          <span><strong>Selected Fiat Sum (PHP):</strong> <span data-crypto-activity-selection-target="fiatSum">0.00</span></span>
          <span><strong>Selected Forex Average:</strong> <span data-crypto-activity-selection-target="forexAverage">0.00</span></span>
        </div>
        <table class="table table-striped card-table table-hover w-full">
          <thead>
            <tr>
              <th></th>
              <th class="text-right">Date</th>
              <th>Type</th>
              <th class="text-right">Amount</th>
              <th class="text-right">Fiat (PHP)</th>
              <th class="text-right">Fee (Crypto)</th>
              <th class="text-right">Fee (PHP)</th>
              <th class="text-right">Fiat Forex</th>
            </tr>
          </thead>
          <tbody>
            <% @activities.each_with_index do |activity, idx| %>
              <tr>
                <td>
                  <input type="checkbox"
                         data-action="crypto-activity-selection#updateSums"
                         data-crypto-activity-selection-target="checkbox"
                         data-crypto-amount="<%= activity.crypto_amount %>"
                         data-fiat-amount="<%= activity.fiat_amount %>"
                         data-fee-crypto="<%= activity.fee_crypto || 0 %>"
                         data-fee-fiat="<%= activity.fee_fiat || 0 %>"
                         data-activity-type="<%= activity.activity_type %>"
                         <%= 'checked' if idx == 0 %>>
                </td>
                <td class="text-right"><%= activity.activity_date %></td>
                <td><%= activity.activity_type.titleize %></td>
                <td class="text-right"><%= activity.crypto_amount %></td>
                <td class="text-right"><%= format_currency activity.fiat_amount %></td>
                <td class="text-right"><%= activity.fee_crypto %>(<%= format_percentage activity.fee_crypto, activity.crypto_amount %>)</td>
                <td class="text-right"><%= format_currency activity.fee_fiat %>(<%= format_percentage activity.fee_fiat, activity.fiat_amount %>)</td>
                <td class="text-right"><%= format_currency activity.fiat_forex %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
