<link rel="stylesheet" href="https://unpkg.com/tippy.js@6/dist/tippy.css" />

<div class="flex flex-row p-4 mt-4">
  <%= link_to "#{chevron_left_icon} Back".html_safe, crypto_currencies_path, class: "btn btn-primary" %>
  <% if @permissions.can?(:update, @crypto_currency) %>
    <%= link_to "Edit #{@crypto_currency.ticker}", edit_crypto_currency_path(@crypto_currency), class: "btn btn-info ml-auto" %>
  <% end %>
  <%= link_to "Add Crypto Activity", new_crypto_activity_path, class: "btn btn-success ml-2" %>
</div>
<div class="flex">
  <div class="w-full md:w-1/3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title"><%= @crypto_currency.name %> (<%= @crypto_currency.ticker %>)</h4>
      </div>
      <div class="card-body">
        <dl class="kv-pair">
          <div>
            <dt>Last Price</dt>
            <dd><%= format_currency @crypto_currency.last_price %> <%= @crypto_currency.fiat %> (<%= format_percentage((@crypto_currency.last_price || 0) -  @cost_basis, @cost_basis) %>)</dd>
          </div>
          <div>
            <dt>Last Price At</dt>
            <dd><%= @crypto_currency.last_price_at %></dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h4 class="card-header-title">Summary</h4>
      </div>
      <div class="card-body">
        <div class="flex flex-wrap">
          <div class="w-full sm:w-1/2 p-2">
            <dl class="kv-pair">
              <div>
                <dt>Total Crypto Held:</dt>
                <dd><%= @net_crypto %> <%= @crypto_currency.pretty_ticker %></dd>
                <dd>(<%= format_currency @current_value %> <%= @crypto_currency.fiat %>)</dd>
              </div>
              <div>
                <dt>Total Fiat Invested:</dt>
                <dd><%= format_currency @total_fiat %> <%= @crypto_currency.fiat %></dd>
              </div>
              <div>
                <dt>Total Proceeds from Sales:</dt>
                <dd><%= format_currency @total_proceeds %> <%= @crypto_currency.fiat %></dd>
              </div>
            </dl>
          </div>
          <div class="w-full sm:w-1/2 p-2">
            <dl class="kv-pair">
              <div>
                <dt>Cost Basis:</dt>
                <dd><%= format_currency @cost_basis %> <%= @crypto_currency.fiat %>/<%= @crypto_currency.pretty_ticker %></dd>
              </div>
              <% if @crypto_currency.is_php? %>
                <div>
                  <dt>Cost Basis (USD @ 57PHP):</dt>
                  <dd><%= format_currency @cost_basis / 57 %> USD/<%= @crypto_currency.pretty_ticker %></dd>
                </div>
              <% end %>
            </dl>
          </div>
        </div>
        <dl class="kv-pair">
          <div>
            <dt>Total P&amp;L:</dt>
            <dd><%= format_currency @pnl %> <%= @crypto_currency.fiat %> (<%= format_percentage @pnl, @total_fiat %>)</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <div class="w-full md:w-2/3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">Activities</h4>
      </div>
      <div class="overflow-x-auto" data-controller="crypto-activity-selection">
        <dl class="kv-pair p-2 flex gap-4">
          <div>
            <dt>Selected Crypto Sum:</dt>
            <dd><span data-crypto-activity-selection-target="cryptoSum">0</span> <%= @crypto_currency.pretty_ticker %></dd>
          </div>
          <div>
            <dt>Selected Fiat Sum (<%= @crypto_currency.fiat %>):</dt>
            <dd><span data-crypto-activity-selection-target="fiatSum">0.00</span></dd>
          </div>
          <div>
            <dt>Selected Forex Average:</dt>
            <dd><span data-crypto-activity-selection-target="forexAverage">0.00</span></dd>
          </div>
          <div>
            <dt>P&amp;L less 0.3% fees:</dt>
            <dd><span data-crypto-activity-selection-target="pnl">0.00</span></dd>
          </div>
          <div>
            <dt>Test Price</dt>
            <dd><input type="number" value="<%= @crypto_currency.last_price %>" placeholder="0,000.00" step="0.01" data-action="crypto-activity-selection#inputChange" data-crypto-activity-selection-target="testPrice" /></dd>
            <dd><span data-crypto-activity-selection-target="testPnl">0.00</span></dd>
          </div>
        </dl>
        <table class="table table-striped card-table table-hover w-full">
          <thead>
            <tr>
              <th class="text-center"><input type="checkbox" data-action="change->crypto-activity-selection#toggleAll"/></th>
              <th class="text-right">Date</th>
              <th>Type</th>
              <th class="text-right">Amount</th>
              <th class="text-right">Fiat (<%= @crypto_currency.fiat %>)</th>
              <th class="text-right">Fee</th>
              <th class="text-right">Fiat Forex</th>
              <th class="text-right">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            <% @activities.each_with_index do |activity, idx| %>
              <tr data-action="click->crypto-activity-selection#tableRowClick" data-crypto-activity-selection-target="tableRow">
                <td class="text-center">
                  <input type="checkbox"
                         data-action="crypto-activity-selection#updateSums"
                         data-crypto-activity-selection-target="checkbox"
                         data-crypto-amount="<%= activity.crypto_amount %>"
                         data-fiat-amount="<%= activity.fiat_amount %>"
                         data-fee-crypto="<%= activity.fee_crypto || 0 %>"
                         data-fee-fiat="<%= activity.fee_fiat || 0 %>"
                         data-activity-type="<%= activity.activity_type %>"
                         data-last-price="<%= @crypto_currency.last_price %>"
                         onclick="event.stopPropagation()"
                         <%= 'checked' if idx == 0 %>>
                </td>
                <td class="text-right"><%= activity.activity_date %></td>
                <td>
                  <div x-data x-tooltip.raw="<%= activity.notes %>">
                    <%= activity.activity_type.titleize %> <%= activity.notes.blank? ? "" : "[?]" %>
                  </div>
                </td>
                <td class="text-right"><%= activity.crypto_amount %></td>
                <td class="text-right"><%= format_currency activity.fiat_amount %></td>
                <td class="text-right">
                  <% if activity.fee_crypto.zero? %>
                    &nbsp;
                  <% else %>
                    <%= @crypto_currency.pretty_ticker %>: <%= activity.fee_crypto %> (<%= format_percentage activity.fee_crypto, activity.crypto_amount, 2 %>)
                  <% end %>
                  <% if activity.fee_fiat.zero? %>
                    &nbsp;
                  <% else %>
                    <%= @crypto_currency.fiat %>: <%= format_currency activity.fee_fiat %> (<%= format_percentage activity.fee_fiat, activity.fiat_amount, 2 %>)
                  <% end %>
                </td>
                <td class="text-right"><%= format_currency activity.fiat_forex %></td>
                <td class="text-right"><%= link_to "Edit", [:edit, activity] %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
