<div class="flex flex-row p-4 mt-4">
  <%= link_to "#{chevron_left_icon} Back".html_safe, crypto_currencies_path, class: "btn btn-primary" %>
  <%= link_to "Add Crypto Activity", new_crypto_activity_path, class: "btn btn-success ml-auto" %>
</div>
<div class="flex">
  <div class="w-full md:w-1/3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title"><%= @crypto_currency.name %> (<%= @crypto_currency.ticker %>)</h4>
      </div>
      <div class="card-body">
        <dl class="kv-pair">
          <div>
            <dt>Last Price</dt>
            <dd><%= @crypto_currency.last_price %></dd>
          </div>
          <div>
            <dt>Last Price At</dt>
            <dd><%= @crypto_currency.last_price_at %></dd>
          </div>
          <div>
            <dt>Decimal Places</dt>
            <dd><%= @crypto_currency.decimal_places %></dd>
          </div>
        </dl>
      </div>
    </div>
    <div class="card mt-4">
      <div class="card-header">
        <h4 class="card-header-title">Summary</h4>
      </div>
      <div class="card-body">
        <div class="flex flex-wrap">
          <div class="w-full sm:w-1/2 p-2">
            <dl class="kv-pair">
              <div>
                <dt>Total Crypto Held:</dt>
                <dd><%= @net_crypto %> <%= @crypto_currency.ticker %></dd>
              </div>
              <div>
                <dt>Total Fiat Invested:</dt>
                <dd><%= format_currency @total_fiat %> PHP</dd>
              </div>
              <div>
                <dt>Total Proceeds from Sales:</dt>
                <dd><%= format_currency @total_proceeds %> PHP</dd>
              </div>
            </dl>
          </div>
          <div class="w-full sm:w-1/2 p-2">
            <dl class="kv-pair">
              <div>
                <dt>Cost Basis:</dt>
                <dd><%= format_currency @cost_basis %> PHP/<%= @crypto_currency.ticker %></dd>
              </div>
              <div>
                <dt>Cost Basis (USD @ 57PHP):</dt>
                <dd><%= format_currency @cost_basis / 57 %> USD/<%= @crypto_currency.ticker %></dd>
              </div>
            </dl>
          </div>
        </div>
        <dl class="kv-pair">
          <div>
            <dt>Total P&amp;L:</dt>
            <dd><%= format_currency @pnl %> PHP</dd>
          </div>
        </dl>
      </div>
    </div>
  </div>
  <div class="w-full md:w-2/3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-header-title">Activities</h4>
      </div>
      <div class="overflow-x-auto">
        <table class="table table-striped card-table table-hover w-full">
          <thead>
            <tr>
              <th class="text-right">Date</th>
              <th>Type</th>
              <th class="text-right">Amount</th>
              <th class="text-right">Fiat (PHP)</th>
              <th class="text-right">Fee (Crypto)</th>
              <th class="text-right">Fee (PHP)</th>
              <th class="text-right">Fiat Forex</th>
            </tr>
          </thead>
          <tbody>
            <% @activities.each do |activity| %>
              <tr>
                <td class="text-right"><%= activity.activity_date %></td>
                <td><%= activity.activity_type.titleize %></td>
                <td class="text-right"><%= activity.crypto_amount %></td>
                <td class="text-right"><%= format_currency activity.fiat_amount %></td>
                <td class="text-right"><%= activity.fee_crypto %></td>
                <td class="text-right"><%= format_currency activity.fee_fiat %></td>
                <td class="text-right"><%= format_currency activity.fiat_forex %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
