<%= form_with(model: price_update, local: true) do |form| %>
  <% if price_update.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(price_update.errors.count, "error") %> prohibited this price_update from being saved:</h2>

      <ul>
      <% price_update.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :company_id %>
    <%= form.text_field :company_id %>
  </div>

  <div class="field">
    <%= form.label :datetime %>
    <%= form.datetime_select :datetime %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
