<!DOCTYPE html>
<html>
    <head>
        <title>Investments Portfolio by Rystraum</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <%= csrf_meta_tags %>
        <%= csp_meta_tag %>

        <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
        <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </head>
    <body>
        <% if !devise_controller? %>
            <%= render user_signed_in? ? "shared/logged_in_header" : "shared/logged_out_header" %>
        <% end %>
        <% flash.each do |type, msg| %>
            <%= render "shared/alert", message: msg, type: type %>
        <% end %>
        
        <%= yield %>
        <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    </body>
</html>
